html,body {
  margin: 0 0 0 0;
  background-color: white;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

.header {
  position: fixed;
  border: 0;
  margin: 0 0 0 0;
  background-color: white;
  min-width: 820px;
  width: 100%;
  height:50px;
  z-index: 10;
  -moz-box-shadow: 0px 0px 25px #777777;
  -webkit-box-shadow: 0px 0px 25px #777777;
  box-shadow: 0px 0px 25px #777777;
}

#main-navigation li {
  text-decoration: none;
  display: inline;
  list-style-type: none;
}

#main-navigation a {
  text-decoration: none;
  color: #4a3f45;
  padding: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 10px;
  word-spacing: -2px;
  float: right;
  position: relative;
  bottom: 38px;
  right: 5px;
  -webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  -o-transition: -o-transform: 0.6s ease;
  transition: transform 0.6s ease;
}

#main-navigation a:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale (1.05);
  transform: scale (1.05);
}

#banner {
  background-image: url(../images/header-test.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0 0 0 0;
  width: 100%;
  text-transform: uppercase;
  font-size: 2.5vw;
  color: white;
  letter-spacing: 10px;
  position: absolute;
  height: 315px;
  line-height: 310px;
  top: 50px;
  z-index: 5;
}
h1 {
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #4a3f45;
  font-size: 13px;
  margin-top: 0;
  position: relative;
  top: 15px;
  left: 20px;
}
.vpd {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#content {
  position: relative;
  font-size:17px;
  overflow: scroll;
  top: 365px;
  width: 500px;
  margin-bottom: 125px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify
}

#content h2 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 36px;
  text-align: center;
}

#footer {
  background-color: white;
  width: 100%;
  height: 110px;
  position: fixed;
  text-align: center;
  bottom: 0px;
  margin-bottom: 0x;
  -moz-box-shadow: 0px 0px 25px #777777;
  -webkit-box-shadow: 0px 0px 25px #777777;
  box-shadow: 0px 10px 35px #777777;
}

#my-sites {
  text-align: center;
}

#my-sites ul {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#social-media li {
  padding: 10px;
  text-decoration: none;
  display: inline;
  list-style-type: none;
}

#social-media img {
  max-width: 3vw;
}

#my-sites h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}
#footer p { 
  font-size: 12px;
  letter-spacing: 2px;
}

