html,body {
  margin: 0 0 0 0;
  background-color: white;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

header {
  position: fixed;
  top: 0;
  border: 0;
  margin: 0 0 0 0;
  background-color: white;
  min-width: 820px;
  width: 100%;
  height:50px;
  z-index: 10;
  -moz-box-shadow: 0 0 25px #777777;
  -webkit-box-shadow: 0 0 25px #777777;
  box-shadow: 0 0 25px #777777;
}

nav ul li {
  text-decoration: none;
  display: inline;
  list-style-type: none;
}

nav ul a {
  text-decoration: none;
  color: #4a3f45;
  padding: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 10px;
  word-spacing: -2px;
  float: right;
  position: relative;
  bottom: 38px;
  right: 5px;
  -webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  -o-transition: -o-transform: 0.6s ease;
  transition: transform 0.6s ease;
}

#main-navigation a:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale (1.05);
  transform: scale (1.05);
}

#banner {
  background-image: url(../images/header-test.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0 0 0 0;
  width: 100%;
  text-transform: uppercase;
  font-size: 2.5vw;
  color: white;
  letter-spacing: 10px;
  position: absolute;
  height: 400px;
  line-height: 400px;
  top: 50px;
  z-index: 5;
}
h1 {
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #4a3f45;
  font-size: 13px;
  margin-top: 0;
  position: relative;
  top: 15px;
  left: 20px;
}
.vpd {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

article {
  color: #4f4141;
  position: relative;
  font-size:19px;
  top: 450px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

article h2 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 45px;
  text-align: center;
}

footer {
  background-color: white;
  width: 100%;
  height: 110px;
  bottom: 0;
  -webkit-position: fixed;
  -moz-position: fixed;
  position: fixed;
  text-align: center;
  -moz-box-shadow: 0 0 25px #777777;
  -webkit-box-shadow: 0 0 25px #777777;
  box-shadow: 0 10px 35px #777777;
}

section h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

section ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.social-media li {
  padding: 10px;
  text-decoration: none;
  display: inline;
  list-style-type: none;
}

.social-media img {
  max-width: 30px;
}

footer p { 
  font-size: 12px;
  letter-spacing: 2px;
}

