html,body {
  min-width: 45rem;
  margin: 0 0 0 0;
  background-color: white;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

header {
  position: fixed;
  top: 0;
  border: 0;
  margin: 0 0 0 0;
  background-color: white;
  min-width: 60rem;
  width: 100%;
  height: 3rem;
  z-index: 10;
  -moz-box-shadow: 0 0 25px #777777;
  -webkit-box-shadow: 0 0 25px #777777;
  box-shadow: 0 -10px 35px #777777;
}

nav ul li {
  text-decoration: none;
  display: inline;
  list-style-type: none;
}

nav ul a {
  text-decoration: none;
  color: #4a3f45;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: .33rem;
  font-size: .66rem;
  word-spacing: -.15rem;
  float: right;
  position: relative;
  bottom: 2.45rem;
  right: 1rem;
}

 nav ul a:hover {
  -webkit-transition: -webkit-transform 0.9s ease;
  -moz-transition: -moz-transform 0.9s ease;
  -o-transition: -o-transform: 0.9s ease;
  transition: transform 0.9s ease;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale (1.05);
  transform: scale (1.05);
}


.home a {
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #4a3f45;
  font-size: 1rem;
  margin-top: 0;
  position: relative;
  top: .8rem;
  left: 1rem;
}

h2 {
  position: relative;
  top: 3rem;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5rem;
  
}

.forms {
  position: relative;
  top: 2.5rem;
}

section h4 {
  position: relative;
  top: 2rem;
  letter-spacing: .2rem;
  left: .5rem;
  text-align: center;
}

section .fa {
  font-size: 2.2rem;
  margin-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.brands {
  text-align: center;
}
footer {
  background-color: white;
  width: 100%;
  height: 7rem;
  bottom: 0;
  -webkit-position: fixed;
  -moz-position: fixed;
  position: fixed;
  text-align: center;
  -moz-box-shadow: 0 0 25px #777777;
  -webkit-box-shadow: 0 0 25px #777777;
  box-shadow: 0 10px 35px #777777;
  z-index: 5;
}

section h3 {
  letter-spacing: .5rem;
  text-transform: uppercase;
  font-size: .75rem;
  text-align: center;
}

section ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.social-media li {
  padding: .5rem;
  text-decoration: none;
  display: inline;
  list-style-type: none;
}

.social-media img {
  max-width: 30px;
}

p a {
  position: relative;
  top: 3rem;
}

footer p { 
  font-size: .75rem;
  letter-spacing: .25rem;
}

