html,body {
  margin: 0 0 0 0;
  background-color: white;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

header {
  position: fixed;
  top: 0;
  border: 0;
  margin: 0 0 0 0;
  background-color: white;
  width: 100%;
  height: 8rem;
  z-index: 10;
  -moz-box-shadow: 0 0 25px #777777;
  -webkit-box-shadow: 0 0 25px #777777;
  box-shadow: 0 -10px 35px #777777;
}

h1 a {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: .6rem;
  text-decoration: none;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #4a3f45;
  font-size: 1.25rem;
}

nav ul li {
  text-decoration: none;
  display: none;
  list-style-type: none;
}

nav ul a {
  text-decoration: none;
  color: #4a3f45;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: .33rem;
  font-size: 1rem;
  word-spacing: -.15rem;
  float: right;
  position: relative;
  bottom: 4rem;

}

.fullscreen-banner {
  margin: 10px;
  position: relative;
  top: 7rem;
  height: 40rem;
  background-image: url(../images/main-logo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 6px solid #c7bfc2;
}
.video-grid {
  margin: 10px;
  background-color: #4f4141;
  color: #4f4141;
  position: relative;
  line-height: 2.5rem;
  top: 10rem;
  text-align: justify;
  margin-bottom: 10rem;
  border: 6px solid #c7bfc2;
}

.thumbnail {
  margin-top: 20px;
} 

.grid-title h2 {
  position: relative;
  text-align: center;
  top: 8rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #4a3f45;
  font-size: 2rem;
}

.video-grid h3 {
  font-size: 1.75rem;
  letter-spacing: .5rem;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
}

footer {
  background-color: white;
  width: 100%;
  height: 10rem;
  bottom: 0;
  -webkit-position: fixed;
  -moz-position: fixed;
  position: fixed;
  text-align: center;
  -moz-box-shadow: 0 0 25px #777777;
  -webkit-box-shadow: 0 0 25px #777777;
  box-shadow: 0 10px 35px #777777;
}

footer section h3 {
  letter-spacing: .5rem;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
}

section ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.social-media li {
  padding: .5rem;
  text-decoration: none;
  display: inline;
  list-style-type: none;
}

.social-media img {
  max-width: 30px;
}

footer p { 
  position: relative;
  bottom: -1rem;
  font-size: 1rem;
  letter-spacing: .25rem;
}

