html,body {
  margin: 0 0 0 0;
  background-color: black;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

header {
  position: fixed;
  top: 0;
  border: 0;
  margin: 0 0 0 0;
  background-color: black;
  width: 100%;
  height: 8rem;
  z-index: 10;
}

nav ul li {
  text-decoration: none;
  display: none;
  list-style-type: none;
}

nav ul a {
  text-decoration: none;
  color: #4a3f45;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: .33rem;
  font-size: 1rem;
  word-spacing: -.15rem;
  float: right;
  position: relative;
  bottom: 4rem;

}

video {
  display: none;
}

.fullscreen-banner {
  position: relative;
  top: 8rem;
  height: 60vw;
  background-image: url(../images/website-logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.video-grid {
  position: relative;
  line-height: 2.5rem;
  top: 6rem;
  text-align: justify;
  padding-bottom: 15rem;
  margin-bottom: 20rem;
  margin-bottom: 17rem;
}

.video-grid img {
  margin-top: 3rem;
}

.grid-title h2 {
  position: relative;
  text-align: center;
  top: 8rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #bfbfbf;
  font-size: 1.5rem;
}

.video-grid h3 {
  font-size: 1.75rem;
  letter-spacing: .5rem;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
}

.mobile {
  display: none;
}

footer {
  background-color: black;
  width: 100%;
  height: 10rem;
  bottom: 0;
  -webkit-position: fixed;
  -moz-position: fixed;
  position: fixed;
  text-align: center;
  -moz-box-shadow: 0 0 25px #777777;
  -webkit-box-shadow: 0 0 25px #777777;
  box-shadow: 0 10px 35px #777777;
}

footer section h3 {
  letter-spacing: .5rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
  color: #bfbfbf;
}

section ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.social-media li {
  padding: .5rem;
  text-decoration: none;
  display: inline;
  list-style-type: none;
}

.social-media i {
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
  color: #494949;

}

footer p { 
 display: none;
}

