html,body {
  margin: 0 0 0 0;
  background-color: white;
  font-family: futura;
}
.header {
  position: fixed;
  border: 0;
  margin: 0 0 0 0;
  background-color: white;
  min-width: 1300px;
  width: 100%;
  height:85px;
  z-index: 10;
}

#banner {
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0 0 0 0;
  width: 100%;
  text-transform: uppercase;
  font-size: 2.5vw;
  color: white;
  letter-spacing: 10px;
  position: absolute;
  height: 450px;
  line-height: 425px;
  top: 120px;
  z-index: 5;
}

.vpd {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#content h2 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 45px;
  text-align: center
  
}

#content {
  font-size:18px;
  margin-left: 135px;
  margin-right: 135px;
  height: 500px;
  position: relative;
  top: 600px;
}
h1 {
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #4a3f45;
  font-size: 25px;
  letter-spacing: 10px;
  margin-top: 0;
  position: relative;
  top: 27px;
  left: 25px;
}
#main-navigation li {
  text-decoration: none;
  display: inline;
  list-style-type: none;
}
#nav-links a {
  text-decoration: none;
  color: #4a3f45;
  padding: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 15px;
  word-spacing: -2px;
  float: right;
  position: relative;
  bottom: 45px;
  right: 50px;
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4 ease;
  -o-transition: -o-transform: 0.4 ease;
  transition: transform 0.4 ease;
}
#nav-links a:hover {
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  -ms-transform: scale(1.10);
  -o-transform: scale (1.10);
  transform: scale (1.10);
}

#follow-me {
  position: relative;
  top: 500px;

}

#footer {
  position: relative;
  top: 500px;
}
