

/* For small-sized desktop screens 768px - 992px */

@media only screen and (min-width: 768px) {
  

html,body {
  margin: 0 0 0 0;
  background-color: black;
  font-family: font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
  
header {
  position: relative;
  top: 0;
}
  
.navbar {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 15px;
  background: none;
  border: none;
}

.navbar .nav > li > a {
  padding: 0;
  color: white;
  transition: color .5s;
}

.navbar .nav > li > a:hover {
  padding: 0;
  transition-timing-function: ease-in-out;
  color: #b7a85c;
}

.navbar-nav {
  background: none;
  width: 100%;
  text-align: center;
}
.navbar-nav li {
  top: 25px;
  float: none;
  display: inline-block;
  font-size: 1rem;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .3rem;
}
  
.vid_container {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 430px;
  overflow: hidden;
}
  
#logo {
  position: relative;
  top: -450px;
  z-index: 30;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
  
#logo img {
  height: 150px;
}
  

video {
  width: 100%;
}
  
.main-content {
  height: 850px;
  margin-top: -475px;
  background-color: white;
  position: relative;
  vertical-align: middle;
  margin-bottom: 250px;
}

.main-content p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  letter-spacing: .1rem;
  line-height: 2.5rem;
}

.main-content h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  position: relative;
  top: 25px;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
  font-size: 1.8rem;
}
  
.welcome-section {
  position: relative;
  top: 15px;
  height: 450px;
}
  
.welcome {
  margin-bottom: 55px;
}
  
.featured-projects-section {
  padding: 0;
  height: 250px;
  margin-top: -15px;
}
  
.container img {
  position: relative;
  top: 65px;
}

.thumb p {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: .7rem;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  opacity: 0;
  transition: opacity .5s;
}

.overlay {
  transition: opacity .5s;
  background-color: black;
}

.thumb:hover p {
  opacity: 1;
}

.overlay:hover {
  opacity: .5;
}


.icons {
  position: fixed;
  z-index: 50;
  bottom: 200px;
  width: 100%;
  text-align: center;
  background-color: #b7a85c;
  height: 8rem;
  text-align: center;
  z-index: 10;
}

.icons ul {
  position: relative;
  top: 2.5rem;
  width: 100%;
  padding: 0;
  margin: 0;
}

.social-media li {
  padding: 1.5rem;
  text-decoration: none;
  display: inline;
  list-style-type: none;
}

.social-media i {
  font-size: 2.75rem;
  color: #1a1a1a;
}

footer {
  margin-top: 0;
  margin-bottom: 0;
  z-index: 5;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #1a1a1a;
}

footer ul {
  position: relative;
  top: 25px;
  width: 100%;
  text-align: center;
  
}

footer ul li {
  position: relative;
  color: white;
  font-size: 1rem;
  margin-left: 7rem;
  margin-right: 7rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .3rem;
  padding: 0rem;
  text-decoration: none;
  display: inline;
  list-style-type: none;
}

footer p {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  text-align: center;
  position: relative;
  bottom: -125px;
}
  
}

/* For medium sized desktop screens 992px - 1200px */

@media only screen and (min-width: 992px) {
  
.vid_container {
  position: relative;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 535px;
  overflow: hidden;
}
  
#logo {
  position: relative;
  top: -500px;
  z-index: 30;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
  
  
.main-content {
  background-color: white;
  height: 900px;
  margin-top: -470px;
  vertical-align: middle;
}
  
.welcome-container {
  padding-right: 130px;
  padding-left: 130px;
}
  
}


/* For large sized desktop screens 1200px and above */

@media only screen and (min-width: 1200px) {
  
.vid_container {
  position: relative;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 635px;
  overflow: hidden;
}
  
#logo {
  position: relative;
  top: -550px;
  z-index: 30;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
  
  
.main-content {
  background-color: white;
  height: 950px;
  margin-top: -470px;
  vertical-align: middle;
}
  
.welcome-container {
  padding-right: 230px;
  padding-left: 230px;
}
  
}
  
/* For mobile screens */
  
@media only screen and (min-width: 0px) 


