html,body {
  margin: 0 0 0 0;
  background-color: black;
  height: 100%;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

header {
  position: relative;
  top: 0;
}

.nav-container {
  top: 0;
  border: 0;
  background: none;
  width: 100%;
  height: 8rem;
  float: none;
}

.navbar {
  position: relative;
  top: 0;
  background: none;
  border: none;
}

.navbar .nav > li > a {
  padding: 0;
  color: white;
  transition: color .5s;
}

.navbar .nav > li > a:hover {
  padding: 0;
  transition-timing-function: ease-in-out;
  color: #b7a85c;
}


.navbar-nav {
  background: none;
  width: 100%;
  text-align: center;
}

.navbar-nav li {
  position: relative;
  top: 25px;
  float: none;
  display: inline-block;
  font-size: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .3rem;
}


.vid_container {
  position: relative;
  top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

video {
  position: relative;
  width: 100%;
}

.grid-title {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -90px;
  z-index: 5;
}

.grid-title h2 {
  letter-spacing: 8px;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
}


.video-grid {
  background-color: #2a2a2a;
  height: 960px;
  position: relative;
  margin-bottom: 250px;
  top: -165px;
  vertical-align: middle;
}

.container {
  position: relative;
  top: 75px;
}


.video-grid img {
  position: relative;
  margin-top: 2.75rem;
}

.thumb p {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: .7rem;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  opacity: 0;
  transition: opacity .5s;
}

.overlay {
  transition: opacity .5s;
  background-color: black;
}

.thumb:hover p {
  opacity: 1;
}

.overlay:hover {
  opacity: .5;
}


.icons {
  position: relative;
  top: -415px;
  text-align: center;
  background-color: #b7a85c;
  width: 100%;
  height: 8rem;
  text-align: center;
  z-index: 10;
}

section ul {
  position: relative;
  top: 2.5rem;
  width: 100%;
  padding: 0;
  margin: 0;
}

.social-media li {
  padding: 1.5rem;
  text-decoration: none;
  display: inline;
  list-style-type: none;
}

.social-media i {
  font-size: 2.75rem;
  color: #1a1a1a;
}

footer {
  position: relative;
  top: -420px;
  height: 200px;
  background-color: #1a1a1a;
}

footer ul {
  position: relative;
  top: 25px;
  width: 100%;
  text-align: center;
  
}

footer ul li {
  position: relative;
  color: white;
  font-size: 1rem;
  margin-left: 7rem;
  margin-right: 7rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .3rem;
  padding: 0rem;
  text-decoration: none;
  display: inline;
  list-style-type: none;
}

footer p {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  text-align: center;
  position: relative;
  bottom: -125px;
}
