html,body {
  margin: 0 0 0 0;
  background-color: black;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

header {
  position: fixed;
  top: 0;
  border: 0;
  margin-right: 10px;
  background-color: black;
  width: 100%;
  height: 15rem;
  z-index: 10;
  -moz-box-shadow: 0 0 25px #777777;
  -webkit-box-shadow: 0 0 25px #777777;
  box-shadow: 0 -10px 35px #777777;
}

nav ul li {
  text-decoration: none;
  display: inline;
  list-style-type: none;
}

nav ul a {
  text-decoration: none;
  color: #bfbfbf;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-size: 1.2rem;
  float: right;
  position: relative;
  right: 4rem;
  top: -9rem;
}

.fullscreen-banner {
  position: relative;
  top: 15rem;
  height: 47rem;
  background-image: url(../images/stonewall-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.grid-title h2 {
  position: relative;
  text-align: center;
  top: 14rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #bfbfbf;
  font-size: 2rem;
}

.video-grid {
  height: 100%;
  position: relative;
  margin-bottom: 150px;
  top: 15rem;
  vertical-align: middle;
}

.video-grid img {
  position: relative;
  margin-top: 2.75rem;
}

.thumb p {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: .7rem;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  opacity: 0;
  transition: opacity .5s;
}

.overlay {
  transition: opacity .5s;
  background-color: black;
}

.thumb:hover p {
  opacity: 1;
}

.overlay:hover {
  opacity: .5;
}


footer {
  text-align: center;
  background-color: black;
  width: 100%;
  height: 12rem;
  bottom: 0;
  -webkit-position: fixed;
  -moz-position: fixed;
  position: fixed;
  text-align: center;
  -moz-box-shadow: 0 0 25px #777777;
  -webkit-box-shadow: 0 0 25px #777777;
  box-shadow: 0 10px 35px #777777;
}

footer section h3 {
  color: #bfbfbf;
  letter-spacing: .7rem;
  text-transform: uppercase;
  font-size: 1rem;
}

section ul {
  position: relative;
  top: .4rem;
  width: 100%;
  padding: 0;
  margin: 0;
}

.social-media li {
  padding: .5rem;
  text-decoration: none;
  display: inline;
  list-style-type: none;
}

.social-media i {
  font-size: 3.5rem;
  color: #494949;
}

footer p { 
  position: relative;
  top: 1.3rem;
  font-size: 1.2rem;
  letter-spacing: .25rem;
  color: #bfbfbf;
}

