/* For small-sized desktop screens 768px - 992px */

@media only screen and (min-width: 768px) {
  

html,body {
  margin: 0 0 0 0;
  background-color: black;
  height: 100%;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

header {
  position: relative;
  top: 0;
}

.nav-container {
  top: 0;
  border: 0;
  background: none;
  width: 100%;
  height: 8rem;
  float: none;
}

.navbar {
  position: relative;
  top: 0;
  background: none;
  border: none;
}

.navbar .nav > li > a {
  padding: 0;
  color: white;
  transition: color .5s;
}

.navbar .nav > li > a:hover {
  padding: 0;
  transition-timing-function: ease-in-out;
  color: #b7a85c;
}

.navbar-nav {
  background: none;
  width: 100%;
  text-align: center;
}
.navbar-nav li {
  position: relative;
  top: 25px;
  float: none;
  display: inline-block;
  font-size: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .3rem;
}


.vid_container {
  position: relative;
  top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 435px;
  overflow: hidden;
}

video {
  position: relative;
  width: 100%;
}
  
.greeting-video-grid {
  background-color: white;
  height: 655px;
  position: relative;
  margin-bottom: 250px;
  top: -165px;
  vertical-align: middle;
}

.greeting-video-grid p {
  font-family: 'Source Code Pro';
  font-size: 1.7rem;
  letter-spacing: .1rem;
  line-height: 2rem;
}

.greeting-video-grid h2 {
  text-align: center;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
  font-size: 1.5rem;
  padding-top: 40px;
}
  
.container {
  padding-right: 0;
  padding-left: 0;
  position: relative;
  top: 15px;
}
  
.featured-projects {
  position: relative;
  top: -30px;
}
  
.container img {
  position: relative;
  top:15px;
}

.thumb p {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: .7rem;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  opacity: 0;
  transition: opacity .5s;
}

.overlay {
  transition: opacity .5s;
  background-color: black;
}

.thumb:hover p {
  opacity: 1;
}

.overlay:hover {
  opacity: .5;
}


.icons {
  position: relative;
  top: -415px;
  text-align: center;
  background-color: #b7a85c;
  width: 100%;
  height: 8rem;
  text-align: center;
  z-index: 10;
}

section ul {
  position: relative;
  top: 2.5rem;
  width: 100%;
  padding: 0;
  margin: 0;
}

.social-media li {
  padding: 1.5rem;
  text-decoration: none;
  display: inline;
  list-style-type: none;
}

.social-media i {
  font-size: 2.75rem;
  color: #1a1a1a;
}

footer {
  position: relative;
  top: -420px;
  height: 200px;
  background-color: #1a1a1a;
}

footer ul {
  position: relative;
  top: 25px;
  width: 100%;
  text-align: center;
  
}

footer ul li {
  position: relative;
  color: white;
  font-size: 1rem;
  margin-left: 7rem;
  margin-right: 7rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .3rem;
  padding: 0rem;
  text-decoration: none;
  display: inline;
  list-style-type: none;
}

footer p {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  text-align: center;
  position: relative;
  bottom: -125px;
}
  
}

/* For medium sized desktop screens 992px - 1200px */

@media only screen and (min-width: 992px) {
  
  .vid_container {
  position: relative;
  top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 535px;
  overflow: hidden;
}
  
  .video-grid {
  background-color: white;
  height: 355px;
  position: relative;
  margin-bottom: 250px;
  top: -165px;
  vertical-align: middle;
}


/* For large sized desktop screens 1200px and above */

@media only screen and (min-width: 1200px) {
  
  .vid_container {
  position: relative;
  top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 635px;
  overflow: hidden;
}
  
  .video-grid {
  background-color: white;
  height: 355px;
  position: relative;
  margin-bottom: 250px;
  top: -165px;
  vertical-align: middle;
}


