
/* HOME PAGE */

/* EXTRA SMALL SIZED DESKTOP SCREENS <768px */

@media only screen and (max-width: 767px) {
  
  html,body {
    margin: 0 0 0 0;
		background-color: dimgray;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
    height: 100%;
  }
	
	/*****************
	******************
	*** INDEX.HTML ***
	******************
	******************/
	
	header {
		position: relative;
		z-index: 10;
    height: 95%;
    overflow: hidden
	}
	
	nav {
		top: 0;
		width: 100%;
		height: 100px;
	}
	
	header nav ul {
		opacity: 0;
		padding: 0;
	}
  
 
	#banner-logo {
    position: absolute;
    top: 0;
		height: 95%;
		width: 100%;
	}

	#banner-logo img {
		position: absolute;
		top: 10px;
		left: 10px;
    min-height: 50px;
		height: 10vw;
		z-index: 10;
	}
  
  .title {
    margin-top: -100px;
		height: 100%;
		width: 100%;
		position: absolute;
		display: -webkit-box;
		display: -moz-box;
		display: -webkit-flex;
		-webkit-flex-direction: column;
		-webkit-align-items: center;
		-webkit-justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
  
  .text {
    position: relative;
    z-index: 1
  }
  
	.text h1 {
		text-transform: uppercase;
    position: relative;
		color: white;
		font-size: 12vw;
    font-weight: 500;
		letter-spacing: .1em;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
	}
  
  .text h2 {
    margin-top: 10px;
    float: right;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .2em;
    color: white;
    position: relative;
  }
  
  .color-overlay {
		background-color: dimgray;
    margin-top: -100px;
		z-index: 500;
		height: 100%;
	}
  
	video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%)translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    opacity: .5;
	}

	.main-content {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
		background-color: white;
    padding-bottom: 25vw;
	}

	.main-content p {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 1.5em;
		line-height: 1.5em;
	}

  .heading {
		font-weight: 500;
		text-align: center;
		letter-spacing: .5em;
		text-transform: uppercase;
		color: black;
		font-size: 8vw;
    padding-bottom: 35px;
    opacity: .4
	}
  
  .main-content-top {
		margin-top: 15vw;
	}

	.main-content-middle {
    margin-top: 15vw;
	}
  
  
	.container img {
  	margin-top: 0px;
    opacity: .8;
	}	

	/*************************
	** PROJECT DESCRIPTIONS **
	**************************/

	.project-description {
		margin-top: 10px;
		margin-bottom: 5vw;
	}

	.bold {
		font-weight: 300;
	}

	.italic {
		font-style: italic;	
	}
	
	/*******************
	**** TECH SPECS ****
	********************/

	ul.tech-specs {
		list-style-type: none;
		padding: 0;
		font-family: 'Roboto', sans-serif;
		font-weight: 100;
		text-transform: uppercase;
		font-size: 1.3rem;
		letter-spacing: .2rem;
		line-height: 2rem;
	}
	
	#view-more-button {
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
		width: 100%;
    height: 3em;
		text-align: center;
    margin-top: 20vw;
	}

	#view-more-button a {
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9em;
    height: 100%;
    padding: 0;
    text-align: center;
    font-weight: 300;
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		letter-spacing: .2em;
		font-size: 1em;
		font-weight: 500;
    background-color: white;
		color: rgba(26, 26, 26, .7);
		transition: color .8s;
    border: solid 2px rgba(26, 26, 26, .7);
	}

	#view-more-button a:hover {
		text-decoration: none;
		color: #b7a85c;
	}
  
	/*************
	*** FOOTER ***
	**************/

	footer {
		position: relative;
		top: 0;
		width: 100%;
		height: 300px;
background-color: rgba(26, 26, 26, .85);
	}

	/********************************
	** SOCIAL MEDIA ICONS (FOOTER) **
	*********************************/

	#icons {
		width: 100%;
		height: 100px;
		background-color: #b7a85c;
		text-align: center;
		display: -webkit-flex;
		-webkit-align-items: center;
		-webkit-justify-content: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#icons ul {
		width: 100%;
		padding-left: 0;
    margin-left: 0;
    padding-right: 0;
    margin-right: 0;
	}

	#social-media li {
		padding-right: 3vw;
		padding-left: 3vw;
		display: inline;
	}

	#social-media i {
		text-decoration: none;
		font-size: 2.5em;
		color: #1a1a1a;
		transition: color .5s;
	}

	#social-media a {
		text-decoration: none;
	}
	
	#social-media i:hover {
		color: white;
		transition-timing-function: ease-in-out;
	}

	#contact ul {
		padding: 0;
		margin-top: 30px;
		text-align: center;
	}

	#contact li {
		list-style-type: none;
		text-decoration: none;
		color: white;
		font-size: 1rem;
		margin-left: 7%;
		margin-right: 7%;
		text-transform: uppercase;
		letter-spacing: .3rem;
		display: inline;
	}

	#contact ul > li > a {
		text-decoration: none;
		color: white;
		transition: color .5s;
	}

	#contact > ul > li > a:hover {
		text-decoration: none;
		transition-timing-function: ease-in-out;
		color: #b7a85c;
	}

	footer p {
		position: absolute;
		width: 100%;
		bottom: 25px;
		color: white;
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: .3rem;
		text-align: center;
	}
	
	/******************
	*******************
	*******************
	** PROJECTS.HTML ** 
	*******************
	*******************
	*******************/
  
  #projects-header {
    height: 100px;
  }
  
  #projects-header nav {
    display: none;
  }
  
  .projects-fullscreen-banner {
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
		background-image: url(../images/v-park.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
		width: 100%;
		height: 450px;
    margin-top: -100px;
		overflow: hidden;
	}
  
  .banner-title {
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
		padding: 0;
    height: 450px;
    margin-top: -450px;
		background-color: rgba(105, 105, 105, .4);
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}
  
  
  .banner-title h1 {
		color: white;
		z-index: 50;
		padding: 0;
		margin: 0;
		color: white;
		z-index: 50;
		font-size: 8vw;
    font-weight: 500;
		text-transform: uppercase;
		letter-spacing: .2em;
		border-top: solid 2px white;
    border-bottom: solid 2px white;
	}
  
  .video-row {
    margin-top: 10vw;
  }
	
	.narrow {
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}

		
	/******************
	*******************
	*******************
	*** RESUME.HTML *** 
	*******************
	*******************
	*******************/
  
  .greeting {
		margin-top: 15vw;
    padding-bottom: 0;
	}
  
  .main-content-bottom {
    margin-top: 15vw;
  }
  
  .narrow {
    margin-bottom: 0;
    padding-bottom: 0;
  }
	.resume-fullscreen-banner {
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
		background-image: url(../images/samuel-beach.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
		width: 100%;
		height: 450px;
    margin-top: -100px;
		overflow: hidden;
  }
  
  .mobile-logo-grid {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 75px;
  }
  
  .mobile-col-sm-3 {
    width: 25%;
    margin-bottom: 3vw;
  }
  
  .mobile-logo-grid img {
    padding: 2%;
    opacity: .6;
    max-height: 80%;
		object-fit: contain;
  }
  
  .education-mobile {
    width: 85%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vw;
    display: -webkit-flex;
		-webkit-flex-direction: row;
		-webkit-align-items: center;
		-webkit-justify-content: center;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
  }
  
	
	.education-info-mobile {
		width: 60%;
	}
  
  .education-info-mobile ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-right: 10vw;
  }
  
  .university-seal {
		position: relative;
		width: 20%;
		height: 200px;
	}
  
  .university-seal img {
    object-fit: contain;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		height: 50%;
		opacity: .7;
	}
  
  .school {
		font-size: 1em;
		font-weight: 500;
		letter-spacing: .1em;
	}
	
	.degree-certificate {
		font-size: 1em;
		font-weight: 300;
	}
  
  .school-description {
    display: none;
  }
	
}

/* SMALL SIZED DESKTOP 768px - 992px */

@media only screen and (min-width: 768px) {
  

	html,body {
		margin: 0 0 0 0;
		background-color: dimgray;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
    height: 100%;
	}

	/* HEADER & MAIN NAV */

	header {
		position: relative;
		z-index: 10;
    height: 95%;
    overflow: hidden;
	}

	nav {
    position: absolute;
    z-index: 10;
		top: 0;
		width: 100%;
		height: 100px;
		margin: 0;
		padding: 0;
	}

	header nav ul {
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
		text-decoration: none;
		list-style-type: none;
		display: -webkit-box;
		display: -moz-box;
		display: -webkit-flex;
		-webkit-justify-content: flex-end;
		-webkit-align-items: center;
		-webkit-flex-direction: row;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction:row;
		height: 100px;
		padding-right: 30px;
	}

	nav li {
		margin-right: 10px;
		margin-left: 10px;
		font-size: 1em;
    font-weight: 300;
		text-transform: uppercase;
		letter-spacing: .4em;
		text-decoration: none;
	}

	nav ul a {
    border: solid 1px white;
    padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 9px;
		padding-right: 7px;
		color: white;
		transition: color .5s;
	}

	nav ul a:hover {
		text-decoration: none;
		transition-timing-function: ease-in-out;
		color: #b7a85c;
	}


	/* FULLSCREEN BANNER */
	
	.color-overlay {
		background-color: dimgray;
		z-index: 500;
		height: 100%;
	}

	#banner-logo {
    position: absolute;
    top: 0;
		height: 95%;
		width: 100%;
	}

	#banner-logo img {
		position: absolute;
		top: 10px;
		left: 10px;
		height: 80px;
		z-index: 10;
	}

	video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%)translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
		opacity: .5;
	}
	
	.title {
   
		height: 100%;
		width: 100%;
		position: absolute;
		display: -webkit-box;
		display: -moz-box;
		display: -webkit-flex;
		-webkit-flex-direction: column;
		-webkit-align-items: center;
		-webkit-justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
  
 .text {
  
    position: relative;
    z-index: 1
  }
  
	.text h1 {
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    position: relative;
		color: white;
		font-size: 7em;
    font-weight: 500;
		text-transform: uppercase;
		letter-spacing: .1em;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
	}
  
  .text h2 {
    margin-top: 10px;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    float: right;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .2em;
    color: white;
    position: relative;
  }
  
  .last-letter {
    letter-spacing: 0;
  }


	/* MAIN CONTENT */

	.main-content {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
		background-color: white;
    padding-bottom: 150px;
	}

	.main-content p {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 1.5em;
		line-height: 1.5em;
	}

  .heading {
		font-weight: 500;
		text-align: center;
		letter-spacing: .3em;
		text-transform: uppercase;
		color: black;
		font-size: 5em;
		padding-top: 0;
		margin-top: 0;
    padding-bottom: 25px;
		opacity: .4;
		line-height: 1.2em;
	}

	.greeting {
		margin-top: 15vw;
	}
	.main-content-top {
		margin-top: 10vw;
	}

	.main-content-middle {
    margin-top: 10vw;
	}
  
  .featured-projects {
    margin-top: 3vw;
  }
  
  .main-content-middle img {
    opacity: .8;
  }
  
  .main-content-bottom {
    margin-top: 10vw;
  }
  
  #view-more-button {
		width: 100%;
		text-align: center;
    margin-top: 75px;
	}

	#view-more-button a {
    font-weight: 300;
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		letter-spacing: .2em;
		font-size: 1.25em;
		font-weight: 500;
		width: 10em;
    background-color: white;
		color: rgba(26, 26, 26, .7);
		transition: color .8s;
    border: solid 2px rgba(26, 26, 26, .7);
	}

	#view-more-button a:hover {
		text-decoration: none;
		color: #b7a85c;
	}

  
	/* Project Descriptions */

	.project-description {
		margin-top: 10px;
	}

	.bold {
		font-weight: 300;
	}

	.italic {
		font-style: italic;
	}

	/* TECH SPECS */

	ul.tech-specs {
		list-style-type: none;
		padding: 0;
		font-family: 'Roboto', sans-serif;
		font-weight: 100;
		text-transform: uppercase;
		font-size: 1.3rem;
		letter-spacing: .2rem;
		line-height: 2rem;
	}


	/* FOOTER */

	footer {
    position: relative;
		width: 100%;
		height: 300px;
		background-color: rgba(26, 26, 26, .85);

	}

	/* SOCIAL MEDIA ICONS (FOOTER) */

	#icons {
		width: 100%;
		height: 100px;
		background-color: #b7a85c;
		text-align: center;
		display: -webkit-flex;
		-webkit-align-items: center;
		-webkit-justify-content: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#icons ul {
		margin: 0;
		padding: 0;
	}

	#social-media li {
		padding-right: 1.5em;
		padding-left: 1.5em;
		display: inline;
	}

	#social-media i {
		text-decoration: none;
		font-size: 2.5em;
		color: #1a1a1a;
		transition: color .5s;
	}

	#social-media a {
		text-decoration: none;
	}
	
	#social-media i:hover {
		color: white;
		transition: color .8s;
	}

	#contact ul {
		padding: 0;
		margin-top: 30px;
		text-align: center;
	}

	#contact li {
		list-style-type: none;
		text-decoration: none;
		color: white;
		font-size: 1.25rem;
		margin-left: 7rem;
		margin-right: 7rem;
		text-transform: uppercase;
		letter-spacing: .3rem;
		display: inline;
	}

	#contact ul > li > a {
		text-decoration: none;
		color: white;
		transition: color .5s;
	}

	#contact > ul > li > a:hover {
		text-decoration: none;
		transition-timing-function: ease-in-out;
		color: #b7a85c;
	}

	footer p {
		position: absolute;
		width: 100%;
		bottom: 25px;
		color: white;
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: .3rem;
		text-align: center;
		line-height: 2em;
	}

	/******************
	*******************
	*******************
	** PROJECTS.HTML ** 
	*******************
	*******************
	*******************/
  
  #projects-header {
    height: 100px;
  }
  
  .projects-fullscreen-banner {
    transition: 1s ease;
    height: 530px;
		width: 100%;
    margin-top: -100px;
    background-image: url(../images/v-park.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
	
	.banner-title {
    transition: 1s ease;
		padding: 0;
		height: 530px;
		margin-top: -530px;
		background-color: rgba(105, 105, 105, .5);
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		-webkit-align-items: center;
		-webkit-justify-content: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.banner-title h1 {
		color: white;
		z-index: 50;
		padding: 0;
		margin: 0;
		color: white;
		z-index: 50;
		font-size: 8vw;
    font-weight: 500;
		text-transform: uppercase;
		letter-spacing: .2em;
		border-top: solid 2px white;
    border-bottom: solid 2px white;
	}
	
	.narrow {
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}

  .video-row {
    margin-top: 5%;
  }
	
	/******************
	*******************
	*******************
	*** RESUME.HTML *** 
	*******************
	*******************
	*******************/
	
	.resume-fullscreen-banner {
    transition: 1s ease;
    height: 530px;
		width: 100%;
    margin-top: -100px;
    background-image: url(../images/samuel-beach.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
	
	.logo-grid {
		margin-left: 20%;
		margin-right: 20%;
		height: 100px;
		display: -webkit-flex;
		-webkit-align-items: center;
		display: flex;
		align-items: center;
		opacity: .7;
	}
	
	.skills-logo-grid .logo-grid {
		margin-bottom: 2vw;
	} 
	
	.logo-grid img {
		max-height: 60%;
		object-fit: contain;
	}
	
	
	.education {
		width: 75%;
		height: 200px;
		margin-right: auto;
		margin-left: auto;
		display: -webkit-flex;
		-webkit-flex-direction: row;
		-webkit-align-items: center;
		-webkit-justify-content: center;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}
	
	.education-info {
		width: 60%;
	}
	
	.education-info ul {
		margin: 0;
		list-style-type: none;
		padding-left: 0;
		padding-right: 3vw;
	}
	
	.school {
		font-size: 1.5em;
		font-weight: 700;
		letter-spacing: .1em;
	}
	
	.degree-certificate {
		font-size: 1.25em;
		font-weight: 500;
	}
	
	.school-description {
		font-weight: 300;
		font-style: italic;
	}
	
	.university-seal {
		position: relative;
		width: 20%;
		height: 200px;
	}
	
	.university-seal img {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		height: 66%;
		opacity: .7;
	}
  
/* MEDIUM SIZED DESKTOP SCREENS 992px - 1200px */

@media only screen and (min-width: 992px) {
  

  .main-content {
    vertical-align: middle;
  }

  .welcome-container {
    padding-right: 130px;
    padding-left: 130px;
  }
  
  /*******************
	********************
	*** PROJECTS.HTML **
	********************
	********************/
  
  .banner-title {
		padding: 0;
		height: 630px;
		margin-top: -630px;
		background-color: rgba(105, 105, 105, .4);
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		align-items: center;
		justify-content: center;
	}
  
  .main-content .col-sm-12 {
    padding-left: 5%;
    padding-right: 5%;
  }

  .main-content .col-sm-6.l {
    padding-left: 5%;
  }

  .main-content .col-sm-6.r {
    padding-right: 5%;
  }

  .projects-fullscreen-banner {
    height: 630px;
  }
	
	/******************
	*******************
	*******************
	*** RESUME.HTML *** 
	*******************
	*******************
	*******************/

  .resume-fullscreen-banner {
    height: 630px;
}

/* LARGE SIZED DESKTOP SCREENS 1200px and above */

@media only screen and (min-width: 1200px) {
  
  .welcome-container {
    padding-right: 230px;
    padding-left: 230px;
  }

  /*******************
	********************
	*** PROJECTS.HTML **
	********************
	********************/
  
  .banner-title {
		padding: 0;
		height: 730px;
		margin-top: -730px;
		background-color: rgba(105, 105, 105, .4);
		display: flex;
		align-items: center;
		justify-content: center;	
	}

  .main-content .col-sm-12 {
    padding-left: 5%;
    padding-right: 5%;
  }

  .main-content .col-sm-6.l {
    padding-left: 5%;
  }

  .main-content .col-sm-6.r {
    padding-right: 5%;
  }

  .projects-fullscreen-banner {
    height: 730px;
  }

  #projects-banner-logo {
    height: 730px;
    margin-top: -730px;
  }
	
	/******************
	*******************
	*******************
	*** RESUME.HTML *** 
	*******************
	*******************
	*******************/
	
	.resume-fullscreen-banner {
    height: 730px;
}
  
/* For mobile screens 
  
@media only screen and (min-width: 0px) */

