html,body {
  margin: 0 0 0 0;
  background-color: white;
  font-family: futura;
}

.header {
  position: fixed;
  border: 0;
  margin: 0 0 0 0;
  background-color: white;
  min-width: 1300px;
  width: 100%;
  height:85px;
  z-index: 10;
  -moz-box-shadow: 0px 0px 25px #777777;
  -webkit-box-shadow: 0px 0px 25px #777777;
  box-shadow: 0px 0px 25px #777777;
}

#banner {
  background-image: url(../images/header-test.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0 0 0 0;
  width: 100%;
  text-transform: uppercase;
  font-size: 2.5vw;
  color: white;
  letter-spacing: 10px;
  position: absolute;
  height: 450px;
  line-height: 425px;
  top: 85px;
  z-index: 5;
}

.vpd {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#content h2 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 45px;
  text-align: center
}

#content {
  font-size:18px;
  margin-left: 135px;
  margin-right: 135px;
  overflow: scroll;
  position: relative;
  top: 535px;
}

h1 {
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #4a3f45;
  font-size: 25px;
  letter-spacing: 10px;
  margin-top: 0;
  position: relative;
  top: 27px;
  left: 25px;
}
  
#main-navigation li {
  text-decoration: none;
  display: inline;
  list-style-type: none;
}

#nav-links a {
  text-decoration: none;
  color: #4a3f45;
  padding: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 15px;
  word-spacing: -2px;
  float: right;
  position: relative;
  bottom: 45px;
  right: 50px;
  -webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  -o-transition: -o-transform: 0.6s ease;
  transition: transform 0.6s ease;
}

#nav-links a:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale (1.05);
  transform: scale (1.05);
}

#footer {
  height: 150px;
  position: relative;
  top: 600px;
  text-align: center;
}

#my-sites {
  position: relative;
  text-align: center;
}

#my-sites ul {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#social-media li {
  padding: 10px;
  text-decoration: none;
  display: inline;
  list-style-type: none;
}

#social-media img {
  max-width: 3vw;
}

#my-sites h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}
#footer p { 
  font-size: 12px;
  letter-spacing: 2px;
}

